body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.screen {
    background: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.hidden {
    display: none;
}

button {
    padding: 10px 20px;
    background-color: #d9534f; /* Vermelho */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #c9302c; /* Vermelho escuro */
}

h1, h3 {
    color: #d9534f; /* Vermelho */
}

#question-container {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 15px;
}

.question h3 {
    margin: 0;
    font-size: 18px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fff; /* Branco */
}

input[type="radio"] {
    margin-right: 10px;
}
